<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://kit.fontawesome.com/e0bd69fefa.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="app" class="container">
    <aside class="sidebar">
        <h2>AdminProp</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}" data-page="inicio" id="navbar-inicio" class="{% if active_page == 'inicio' %}active{% endif %}"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="{{ url_for('clientes') }}" data-page="clientes" id="navbar-clientes" class="{% if active_page == 'clientes' %}active{% endif %}"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li><a href="{{ url_for('consorcios') }}" data-page="consorcios" id="navbar-consorcios" class="{% if active_page == 'consorcios' %}active{% endif %}"><i class="fa-solid fa-building"></i>Consorcios</a></li>
                <li><a href="{{ url_for('rendiciones') }}" data-page="rendiciones" id="navbar-rendiciones" class="{% if active_page == 'rendiciones' %}active{% endif %}"><i class="fa-solid fa-file-lines"></i>Rendiciones</a></li>
                <li><a href="{{ url_for('comisiones') }}" id="navbar-comisiones" class="{% if active_page == 'comisiones' %}active{% endif %}"><i class="fa-solid fa-dollar-sign"></i>Comisiones</a></li>
                <li><a href="{{ url_for('configuracion') }}" data-page="configuracion" id="navbar-configuracion" class="{% if active_page == 'configuracion' %}active{% endif %}"><i class="fa-solid fa-gear"></i>Configuración</a></li>
            </ul>
            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </nav>
    </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% block scripts %} {% endblock %}
</body>
</html>