{% extends "base.html" %}
{% block title %}Inicio - AdminProp{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <section id="inicio" class="page active">
        <h1>Bienvenido {{ name }} {{ surname }}</h1>
        <div class="dashboard">
            <div class="card">
                <h2>Ingresos mensuales</h2>
                <p>${{ administration_income }}</p>
            </div>
            <div class="card">
                <h2>Pagos adeudados</h2>
                <p>${{ total_debts }}</p>
            </div>
        </div>
    </section>
{% endblock %}