<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="login-screen" class="login-screen active">
        <div id="login-form-container" class="auth-form-container">
            <h1>AdminProp - Iniciar Sesión</h1>
            <h2>Tu herramienta para administrar propiedades y alquileres, todo en un lugar.</h2>
            <div class="buttons">
                {% if error %}
                    <p class="error-message" style="color: red;">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <p class="success-message" style="color: green;">{{ success }}</p>
                {% endif %}
                <form id="login-form" method="POST" action="{{ url_for('login') }}">
                    <div id="email-input-container" class="input-container">
                        <label for="email-input">Email</label>
                        <input id="email-input" type="email" name="email" placeholder="Email" required>
                    </div>
                    <div id="password-input-container" class="input-container">
                        <label for="password-input">Password</label>
                        <input id="password-input" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input-container">
                        <input type="submit" id="submit-btn" value="Iniciar sesión" class="btn-primary">
                    </div>
                    <p class="message">¿Aún no tienes cuenta? <a href="{{ url_for('register') }}">Crea una</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>